.table-me{
    width:90%;
    font-size:0.65rem;
    margin-left:4%;
}
.button-table-me{
    font-size: 0.65rem;
    width:100px;
    height:40px;
}
.userlog{
    margin-top:40px;
    font-size:2rem;
}
.rangolog {
    
    font-size: 2rem;
}
